sanic
transformers
accelerate
tensorboard
ftfy
modelcards
bitsandbytes
GitPython
torchvision
black
boto3
poetry
pytest # unit testing
nvsmi # get GPU info
huggingface_hub
torch
mypy
# Fix compat problem w AWS
markupsafe==2.0.1
requests
coloredlogs
cuda-python
ninja
git+https://github.com/ShivamShrirao/diffusers
psycopg2-binary
