setuptools
sanic
diffusers
transformers
accelerate
tensorboard
ftfy
modelcards
gradio
bitsandbytes
ipywidgets
GitPython
torchvision
black
boto3
poetry
pytest # unit testing
nvsmi # get GPU info
huggingface_hub
torch
mypy
# Fix compat problem w AWS
markupsafe==2.0.1
requests
coloredlogs
cuda-python
