sanic
diffusers
transformers
accelerate
tensorboard
ftfy
modelcards
gradio
bitsandbytes
ipywidgets
GitPython
torchvision
black
boto3
poetry
pytest # unit testing
wget # curl (already installed?)
nvsmi # get GPU info
huggingface_hub
deepspeed
torch
mypy
